<!DOCTYPE html>
<html lang="en">

<head>
  <!-- metas -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- links -->
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/startPage.css">
  <link rel="stylesheet" href="./css/bd.css">
  <link rel="stylesheet" href="./css/geovisorPage.css">
  <link rel="stylesheet" href="./css/aboutPage.css">
  <link rel="stylesheet" href="./css/footer.css">
  <link rel="stylesheet" href="./css/skills.css">
  <link rel="icon" href="./assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <!-- scripts -->
  <script type="module" src="./js/pages.js"></script>
  <script type="module" src="./js/pageSwitcher.js"></script>
  <script type="module" src="./js/scroll.js"></script>
  <script type="module" src="./js/slider.js"></script>
  <script type="module" src="./js/reload.js"></script>
  <script type="module" src="./js/showtable.js"></script>
  <script type="module" src="./js/gotologin.js"></script>
  <title>GEOPORTAL</title>
</head>

<body>
  <!-- header -->
  <header>
    <div class="topHeader">
      <img class="govImage" src="./assets/gov.png">
    </div>
    <div class="centerHeader">
      <img class="logoHeader" src="./assets/logo.png">
      <img class="dane" src="./assets/dane.png">
      <button class="login" id="gotolog-in"> Registrate</button>
    </div>
    <div class="downHeader">
      <div class="pagesChooser">
        <div id="startChooser">
          <a href="#page startPage" >游Inicio</a>
        </div>
        <div id="dbChooser">
          <a href="#page dbPage" >游빕Base de Datos</a>
        </div>
        <div id="geovisorChooser">
          <a href="#page geovisorPage" >游깵Geovisor</a>
        </div>
        <div id="aboutChooser">
          <a href="#page aboutPage" >游빐 Acerca del Geoportal</a>
        </div>
      </div>
    </div>
  </header>
  <!-- body -->
  <!-- pages -->
  <div class="root">
    <div class="page startPage" id="start_page">
      <section class="slider_content" id="slider">
        <img src="./assets/sliderUno.png" class="slider_image">
        <img src="./assets/sliderDos.png" class="slider_image">
        <img src="./assets/sliderTres.png" class="slider_image">
        <img src="./assets/sliderCuatro.png" class="slider_image">
        <div class="nextImage">
          <img src="./assets/next.png" id="next_image_button">
        </div>
        <div class="beforeImage">
          <img src="./assets/next-iz.png" id="before_image_button">
        </div>
      </section>
      <section class="comunasPosition">
        <div class="containerComunas">
          <div class="comunasTextBox">
            <h1 class="sectionsTitle">Comunas de la ciudad de Santiago de Cali</h1>
            <p class="comunasP">Santiago de Cali es una ciudad en Colombia que est치 dividida administrativamente en 22 comunas urbanas 1. Cada comuna est치 compuesta por varios barrios y sectores geogr치ficos y cuenta con informaci칩n b치sica como l칤mites administrativos, sitios de inter칠s, cuerpos de agua, elementos de tr치nsito y transporte, jerarquizaci칩n de las v칤as y equipamientos b치sicos y colectivos.</p>
          </div>
          <iframe src="https://www.cali.gov.co/planeacion/publicaciones/115924/mapas_comunas_idesc/" frameborder="0" class="comunasFrame"></iframe>
        </div>
      </section>
      <section class="positionBlogCards">
        <h1 class="sectionsTitle">Servicios</h1>
        <nav>
          <a href="http://ec2-54-172-127-36.compute-1.amazonaws.com:8080/geoserver/red_prestacion_servicios_salud/wfs
          ">WFS</a>
          <a href="http://ec2-54-172-127-36.compute-1.amazonaws.com:8080/geoserver/red_prestacion_servicios_salud/wms">WMS</a>
        </nav>
        <article>
          <section class="sectionServices">
            <article>
              <div class="tarjetsPicture" id="showTarjetOne">
                <a href="#page geovisorPage"></a>
              </div>
              <h2> Visualizador Geogr치fico de IPS y EPS en [nombre de la regi칩n]</h2>
              <button class="verMas" id="ver_mas_geovisor">
                <a href="#page geovisorPage">Ver mas</a>
              </button>
            </article>
            <article>
              <div class="tarjetsPicture" id="showTarjetTwo">
                <a href="#page dbPage"></a>
              </div>
              <h2> Visualizacion y Descarga de la Base de Datos</h2>
              <button class="verMas" id="ver_mas_db">
                <a href="#page dbPage">Ver mas</a>
              </button>
            </article>
            <article>
              <div class="tarjetsPicture" id="showTarjetThree">
                <a href="#page aboutPage"></a>
              </div>
              <h2> Acerca de GEOSALUD</h2>
              <button class="verMas" id="ver_mas_about">
                <a href="#page aboutPage">Ver mas</a>
              </button>
            </article>
          </section>
        </article>
      </section>
      <section class="gotoform">
        <p>El siguiente enlace tiene la finalidad principal de permitir la interacci칩n entre los administradores del geoportal y los usuarios que hacen uso de sus servicois. Aqu칤, los usuarios encontrar치n una serie de preguntas las cuales informar치n a los administradores sobre datos que los usuarios deseen a침adir, eliminar o modificar.</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScEreEva7fCDVV-RlF-vb2uxyRxm2ksTSRU0CZhRdLwCpk2cw/viewform">Ir al Formulario de actualizacion del geoportal</a>
      </section>
    </div>
    <div class="page dbPage" id="db_page">
      <section class="dbbarra">
        <p>Una base de datos es una colecci칩n organizada de informaci칩n, almacenada y accesible electr칩nicamente. Se utiliza para gestionar grandes cantidades de informaci칩n de manera eficiente y se organiza en tablas con filas y columnas. Los sistemas de gesti칩n de bases de datos son programas que se utilizan para crear y manipular bases de datos.</p>
      </section>
      <section class="databaseOrganizer">
        <article>
          <div class="picturefromdbarticles" id="article_one"></div>
          <div class="infotextFrame">
            <h1>IPS</h1>
            <p>En esta secci칩n, presentamos una tabla detallada con informaci칩n sobre las Instituciones Prestadoras de Salud (IPS) registradas en los barrios San Fernando Nuevo y Urbanizaci칩n Tequendama de la ciudad de Cali. Esta informaci칩n le permitir치 conocer las opciones disponibles en estas 치reas y tomar decisiones informadas sobre su atenci칩n m칠dica.</p>
            <div>
              <a onclick="showtable.mostrarIps()">Ver tabla</a>
            </div>
          </div>
        </article>
        <article>
          <div class="picturefromdbarticles" id="article_two"></div>
          <div class="infotextFrame">
            <h1>EPS</h1>
            <p>Aqu칤 presentamos una tabla con informaci칩n sobre las Entidades Promotoras de Salud (EPS) en los barrios San Fernando Nuevo y Urbanizaci칩n Tequendama de Cali. Consulte esta informaci칩n para conocer las opciones disponibles en estas 치reas.</p>
            <div>
              <a onclick="showtable.mostrarEps()">Ver tabla</a>
            </div>
          </div>
        </article>
        <article>
          <div class="picturefromdbarticles" id="article_three"></div>
          <div class="infotextFrame">
            <h1>Dispensario de Medicamentos</h1>
            <p>En esta secci칩n, encontrar치 informaci칩n sobre los lugares de dispensaci칩n de medicamentos en la zona.</p>
            <div>
              <a onclick="showtable.mostrarDispensors()">Ver tabla</a>
            </div>
          </div>
        </article>
        <article>
          <div class="picturefromdbarticles" id="article_four"></div>
          <div class="infotextFrame">
            <h1>Servicios</h1>
            <div>
              <a onclick="showtable.mostrarServicios()">Ver tabla</a>
            </div>
          </div>
        </article>
      </section>
      <div class="showIpsTable" id="ipsTarjet">
        <section class="tableContainer"> 
          <h1>IPS</h1>
          <table>
            <thead class="iphead">
              <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>ID</th>
                <th>Regimen</th>
                <th>Telefono</th>
                <!-- Agrega m치s celdas de encabezado aqu칤 para mostrar m치s columnas -->
              </tr>
            </thead>
            <tbody class="ipbody">
              <% for (let row of tablaIps) { %>
                <tr>
                  <td><%= row.nombre %></td>
                  <td><%= row.direccion %></td>
                  <td><%= row.id %></td>
                  <td><%= row.naturaleza %></td>
                  <td><%= row.telefono %></td>
                  <!-- Agrega m치s celdas aqu칤 para mostrar m치s columnas -->
                </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </div>
      <div class="showEpsTable" id="epsTarjet">
        <section class="tableContainer">
          <h1>EPS</h1>
          <table>
            <thead class="iphead">
              <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>ID</th>
                <th>Regimen</th>
                <th>Telefono</th>
                <!-- Agrega m치s celdas de encabezado aqu칤 para mostrar m치s columnas -->
              </tr>
            </thead>
            <tbody class="ipbody">
              <% for (let row of tablaEps) { %>
                <tr>
                  <td><%= row.nombre %></td>
                  <td><%= row.direccion %></td>
                  <td><%= row.id %></td>
                  <td><%= row.regimen %></td>
                  <td><%= row.telefono %></td>
                  <!-- Agrega m치s celdas aqu칤 para mostrar m치s columnas -->
                </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </div>
      <div class="showDispensadoresTable" id="dispensorsTarjet">
        <section class="tableContainer">
          <h1>Dispensarios de Medicamentos</h1>
          <table>
            <thead class="iphead">
              <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>ID</th>
                <th>Telefono</th>
                <th>Tipo</th>
                <!-- Agrega m치s celdas de encabezado aqu칤 para mostrar m치s columnas -->
              </tr>
            </thead>
            <tbody class="ipbody">
              <% for (let row of tablaDispensarios) { %>
                <tr>
                  <td><%= row.nombre %></td>
                  <td><%= row.direccion %></td>
                  <td><%= row.id %></td>
                  <td><%= row.telefono %></td>
                  <td><%= row.tipo %></td>
                  <!-- Agrega m치s celdas aqu칤 para mostrar m치s columnas -->
                </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </div>
      <div class="showServiciosTable" id="servicesTarjet">
        <section class="tableContainer">
          <h1>Servicios</h1>
          <table>
            <thead class="iphead">
              <tr>
                <th>ID</th>
                <th>Servicio</th>
                <!-- Agrega m치s celdas de encabezado aqu칤 para mostrar m치s columnas -->
              </tr>
            </thead>
            <tbody class="ipbody">
              <% for (let row of tablaServicios) { %>
                <tr>
                  <td><%= row.id %></td>
                  <td><%= row.servicio %></td>
                  <!-- Agrega m치s celdas aqu칤 para mostrar m치s columnas -->
                </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </div>
    </div>
    <div class="page geovisorPage" id="geovisor_page">
      <section class="geobarra">
        <p>Los Geovisores son aplicaciones accesibles y sencillas de utilizar, que brindan la posibilidad de consultar, visualizar, analizar y descargar datos georreferenciados. Est치n disponibles para una amplia variedad de usuarios, incluyendo investigadores, responsables de la toma de decisiones, autoridades territoriales y ambientales, y en particular, el p칰blico en general.</p>
      </section>
      <section class="geovisorSection">
        <article class="tarjetGotoGeo">
          <div class="geoFrame">
            <a href="https://uvgeomatica.maps.arcgis.com/apps/webappviewer/index.html?id=7444e1caf5a944c18781385dddf4decf"></a>
          </div>
          <div class="textFrame">
            <h1>GEOVISOR RED DE PRESTACION DE SERVICIOS DE SALUD</h1>
            <P>Descubre los servicios de salud disponibles en los barrios Urbanizacion tequendama y San fernando nuevo con nuestro geovisor interactivo. Explora la red de hospitales, cl칤nicas y centros de atenci칩n primaria y encuentra el servicio que necesitas.</P>
            <button class="gotogbutton">
              <a href="https://uvgeomatica.maps.arcgis.com/apps/webappviewer/index.html?id=7444e1caf5a944c18781385dddf4decf">Ir al Geovisor</a>
            </button>
          </div>
        </article>
      </section>
    </div>
    <div class="page aboutPage" id="about_page">
      <section class="portalbarra">
        <p>Un geoportal es una puerta de enlace a recursos geoespaciales basados en la web. Su finalidad es ofrecer a los usuarios el acceso a una serie de recursos y servicios basados en la informaci칩n geogr치fica.</p>
      </section>
      <section>
        <section class="aboutOrganizer">
          <article>
            <div class="picturefromdaboutarticles" id="art_one"></div>
            <div class="abouttextFrame">
              <h1>Manual tecnico de arquitectura</h1>
              <p>Aqui encontraran el manual tecnico de arquitectura del geoportal.</p>
              <div>
                <a href="https://drive.google.com/file/d/1-UwFv2JlUQ4p2RE7xrPz5bqK51fQA1-s/view?usp=sharing">Ver mas</a>
              </div>
            </div>
          </article>
          <article>
            <div class="picturefromdaboutarticles" id="art_two"></div>
            <div class="abouttextFrame">
              <h1>Guia de usuario</h1>
              <p>Aqu칤 presentamos un video del manual de usuario del geoportal.</p>
              <div>
                <a href="https://drive.google.com/file/d/17rIND-eXk98n8DypFhh2BRB8QxndzwOD/view?usp=sharing">Ver mas</a>
              </div>
            </div>
          </article>
          <article>
            <div class="picturefromdaboutarticles" id="art_three"></div>
            <div class="abouttextFrame">
              <h1>Esquemas</h1>
              <p>En esta secci칩n, encontrar치 el esquema conceptual de la base de datos.</p>
              <div>
                <a href="https://drive.google.com/file/d/1b7F1suYjaNz9X722vrB9HaNNLdZ0kkxz/view?usp=sharing">Ver mas</a>
              </div>
            </div>
          </article>
          <article>
            <div class="picturefromdaboutarticles" id="art_four"></div>
            <div class="abouttextFrame">
              <h1>Mapa de sitio</h1>
              <p>Descubra todas las p치ginas web accesibles que pertenecen al sitio del Geoportal.</p>
              <div>
                <a href="https://drive.google.com/file/d/1ZnK0Dpy1fe4PupEGvWPPMflpkVAcOn-U/view?usp=sharing">Ver mas</a>
              </div>
            </div>
          </article>
        </section>
      </section>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="footerImage">
      <img src="./assets/footer.png">
    </div>
    <div class="footerContainer">
      <img class="up" id="scrollUp" src="./assets/up.png">
      <img class="univalle" src="./assets/logoUV.jpg">
      <h3 id="footer_name">Geoportal Red de Prestacion de Servicios de Salud</h3>
      <div class="directions">
        <p class="bold-text">Direccion</p>
        <p>Calle 13 # 100-00 Santiago de Cali, Valle del Cauca, Colombia</p>
        <p>C칩digo postal: 760042</p>
        <p>Distrito capital Santiago de Cali-Colombia-Sudamerica</p>
      </div>
      <div class="contact">
        <p class="bold-text">Contacto</p>
        <p>Email: juan.rodriguez.hurtado@correounivalle.edu.co</p>
        <p>Tel칠fono: +53 (323) 581-1490</p>
        <p>Email: cesar.coral@correounivalle.edu.co</p>
        <p>Tel칠fono: +53 (312) 711-0401</p>
        <p>Email: dehivy.ossa@correounivalle.edu.co</p>
        <p>Tel칠fono: +53 (310) 7631383</p>
      </div>
      <div class="aIcons">
        <a href="https://www.facebook.com/empresa"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com/empresa"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/empresa"><i class="fab fa-instagram"></i></a>
        <a href="https://www.github.com/empresa"><i class="fab fa-github"></i></a>
      </div>
      <div class="enterpriseLaw">
        <p>춸 2023 Geoportal. Todos los derechos reservados de la Universidad del valle.</p>
      </div>
      <img class="caliLoge" src="./assets/cali.png">
      <img class="medicineLoge" src="./assets/medicina.png">
    </div>
  </footer>
</body>

</html>